heroku_account_email = "john.doe@example.com"

heroku_api_key = "heroku_api_key" # You can get the API from: cat ~/.netrc

heroku_app_region = "us"

heroku_database = "heroku-postgresql:hobby-dev"

heroku_redis = "heroku-redis:hobby-dev"

# Supporting buildpacks: https://devcenter.heroku.com/articles/buildpacks
heroku_app_buildpacks = [
  "heroku/go",
]
